@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@keyframes dropFilter-back {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
 
  }
}
.animate__dropFilter--back {
  animation: dropFilter-back 1s ease-out forwards;
}

.shadow {
  box-shadow: 0px 4px 16px 0px #D7E5FF;
}

@keyframes dropFilter {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
    display: none;
  }
}

.animate__dropFilter {
  animation: dropFilter 1s ease-out forwards;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

li {
  list-style: none;
}

button {
  transition: all 250ms;
}


.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.slick-initialized .slick-slide > div {
  margin:0 5px;
}

.slick-dots li {
  margin: 0 10px !important;
    background-color: #F2FAFD;
    border-radius: 100%;
}

.slick-dots li>button:hover{
  background-color: #5774CD;
}

.slick-dots li button {
  font-size: 10px;
  line-height: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F2FAFD;
  color: #F2FAFD;
  border: none;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #5774CD;
}

.slick-dots li button:before {
  color: transparent !important;
}

.custom-slider {
  margin: 0 15px;
  box-sizing: border-box;
}
/* Стилі для активного слайда */
.custom-slider .slick-center {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.slick-slide.slick-active.slick-center.slick-current {
  width: 600px !important;
}

.slick-slide.slick-active{
  width: 400px !important;
}

.slick-list {
@media (min-width:1080px) {
    height: 395px;
}
}

ul .slick-dots {
  bottom: -50px;
}

div .slick-track {
  display: flex;
  align-items: center;
  gap: 50px;
}